[package]
name = "windows"
description = "Wrappers for Windows"

version.workspace = true
edition.workspace = true
authors.workspace = true
repository.workspace = true
license.workspace = true
publish.workspace = true

[dependencies]
win32.git = "https://github.com/shipsimfan/lib-win32"
