[workspace]

[workspace.package]
version = "0.0.0"
authors = ["Lance Hart <me@lancehart.ca>"]
edition = "2021"
repository = "https://github.com/shipsimfan/alexandria"
license = "GPL-3.0-or-later"
publish = false

[package]
name = "alexandria"
description = "Platform wrapper for various game APIs"

version.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
publish.workspace = true

[dependencies]
vulkan.git = "https://github.com/shipsimfan/lib-vulkan"

[target.'cfg(windows)'.dependencies]
win32.git = "https://github.com/shipsimfan/lib-win32"
