[workspace]
default-members = ["."]

[workspace.package]
version = "2.0.0"
edition = "2021"
authors = ["Lance Hart <me@lancehart>"]
repository = "https://github.com/shipsimfan/alexandria.git"
license = "GPL-3.0-or-later"
publish = false

[workspace.dependencies]
vk.path = "vk"
windows.path = "windows"


[package]
name = "alexandria"
description = "A graphics library abstracting over Vulkan"

version.workspace = true
edition.workspace = true
authors.workspace = true
repository.workspace = true
license.workspace = true
publish.workspace = true

[dependencies]
vk.workspace = true
