[package]
name = "alexandria"
description = "Graphics library wrapping low-level graphics APIs"
version = "0.0.2"
authors = ["Lance Hart <me@lancehart.ca>"]
edition = "2021"
repository = "https://github.com/shipsimfan/alexandria"
license = "GPL-3.0-or-later"
publish = false

[dependencies]
win32 = { path = "../../Platform/lib-win32", features = ["d3d11"] }
