[workspace]
members = ["util/git"]

[workspace.package]
version = "0.2.0"
authors = ["Lance Hart <me@lancehart.ca>"]
edition = "2024"
repository = "https://github.com/shipsimfan/alexandria"
license = "GPL-3.0-or-later"
publish = false

[workspace.dependencies]
# Internal Dependencies
alexandria-graphics.path = "graphics"
alexandria-color.path = "graphics/color"
alexandria-window.path = "graphics/window"

alexandria-math.path = "math"

alexandria-util.path = "util"
alexandria-system.path = "util/system"

# External Dependencies
data-format.git = "https://github.com/shipsimfan/lib-data-format"

vulkan.git = "https://github.com/shipsimfan/lib-vulkan"

win32.git = "https://github.com/shipsimfan/lib-win32"
linux.git = "https://github.com/shipsimfan/lib-linux"
wayland.git = "https://github.com/shipsimfan/lib-wayland"

[package]
name = "alexandria"
description = "Platform wrapper for various game APIs"

version.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
publish.workspace = true

[features]
data-format = [
    "alexandria-graphics/data-format",
    "alexandria-math/data-format",
    "alexandria-util/data-format",
]

[dependencies]
alexandria-graphics.workspace = true
alexandria-math.workspace = true
alexandria-system.workspace = true
alexandria-util.workspace = true
