[package]
name = "alexandria"
description = "A graphics library abstracting over Vulkan"
version = "2.0.0"
edition = "2021"
authors = ["Lance Hart <me@lancehart>"]
repository = "https://github.com/shipsimfan/alexandria.git"
license = "GPL-3.0-or-later"
publish = false

[dependencies]
vulkan.git = "https://github.com/shipsimfan/lib-vulkan"

[target.'cfg(windows)'.dependencies]
win32.git = "https://github.com/shipsimfan/lib-win32"
