[package]
name = "acsl"
description = "Alexandria Common Shader Language"

version.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
publish.workspace = true
