[package]
name = "util"
description = "Common utilities for all crates in this workspace"

version.workspace = true
edition.workspace = true
authors.workspace = true
repository.workspace = true
license.workspace = true
publish.workspace = true
